body{
  font-family: 'Quattrocento', serif;
  font-size: 1.5rem;
}
#landingStructure{
  display: grid;
  grid-template-columns: repeat(1fr,3);
}
h1{
  text-align: center;
  grid-column: 1/4;

}
li{
  list-style: none;
  color: white;
}
form{
  /* top:0; left: 0; bottom: 0; right: 0; */
  position:fixed;
  height: 80vh;
  display:grid;
  grid-template-columns: 1fr;
  background-color: #966c3b;
  color: #ffe6ca;
  padding: 2rem;
  opacity: 1;
  grid-gap: .5rem;
  border-radius: 1rem;
  margin: 1rem 0;

}
input, #submit{
  border-radius: 1rem;
  font-size: 2rem;
  border: 1px solid black;
  font-family: 'Quattrocento', serif;
}
#addBook{
  text-align: center;
  grid-column:2/3;
  font-size: 1.5rem;
  margin: 1rem 5rem;
  border-radius: 1rem;
  border: 1px solid black;

}

.overlay{
  position:absolute;
  display: none;
  justify-content: center;
  background-color: rgba(8,12,8,.5);
  top:0;bottom: 0;left: 0;right:0;

}

.container{
  margin:auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* background-color: #ffe6ca; */
  grid-gap: 1rem;
  grid-template-rows: auto;
  width: 80vw;
  align-items:flex-start;
  grid-column: 1/4;


}
.greyOut{

}

.book{
  margin: 0;
  background-color: #966c3b;
  border-radius: 1rem;
  border: 1px solid #cdc733;
}
